body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.working-process {
    padding: 145px 0;

    .card {
        width: 100%;
        background-image: url('../images/liverpool.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 23px;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
}

.chapter {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    text-transform: capitalize;

    @media screen and (max-width: 436px) {
        font-size: 32px;
    }

    &_orange {
        color: #fd8569;
    }
}

.title {
    width: 100%;
    text-align: center; 
    margin-bottom: 115px;
    font-weight: 400;
    color: #7d7d7d;
}

.flip {
    width: 100%;
    height: 450px;
    perspective: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 55px;

    &:hover {
        .front {
            transform: rotateY(-180deg);
        }

        .back {
            transform: rotateY(0);
        }

        .flip__info {
            bottom: 0;
            box-shadow: none;
            background-color: #fff3f0;
            height: 125px;

            .spec {
                color: #ff5c36;
                margin-bottom: 18px;
            }

            .social {
                opacity: 1;
                display: flex;
            }
        }
    }

    &__card {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        transition: .5s;

        .abilities {
            width: 150px;
            display: flex;
            flex-direction: column;

            &__item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: 600;
                margin-bottom: 17px;

                .progress {
                    width: 100%;
                    height: 4px;
                    border-radius: 0 2px 2px 0;
                    background-color: #817f7e;
                    margin-top: 7px;

                    &__line {
                        height: 100%;
                        background-color: #ff5c36;
                        border-radius: 0 2px 2px 0;
                    }

                    .skill_1 {
                        width: 75%;
                    }

                    .skill_2 {
                        width: 50%;
                    }

                    .skill_3 {
                        width: 90%;
                    }
                }
            }
        }
    }

    &__info {
        width: 72%;
        min-width: 260px;
        height: 95px;
        background-color: white;
        position: relative;
        bottom: -25px;
        box-shadow: 0 7px 20px -10px rgba(0, 0, 0, .3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 21px 0;
        box-sizing: border-box;
        transition: .5s;

        .name {
            text-transform: capitalize;
            font-size: 30px;
            font-weight: 600;
        }

        .spec {
            font-weight: 400;
            transition: .5s;
        }

        .social {
            display: none;
            align-items: center;
            justify-content: space-between;
            width: 75px;
            opacity: 0;
            transition: .5s;
        }

        /*&::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 25px;
            left: 0;
            bottom: 0;
            background-color: transparent;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        }

        &::before {
            content: 'UI/UX Parena';
            height: 12px;
            background-color: white;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 25px;
            z-index: 1;
            text-align: center;
        }*/
    }

    .front {
        background-color: #ff5c36;
        align-items: flex-end;
    }

    .back {
        background-color: #fff3f0;
        transform: rotateY(180deg);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
        align-items: center;
    }
}

